# Authentication config
# It would only 
<FilesMatch "index">
    AuthType Basic
    AuthName "Restricted Area"
    AuthUserFile C:/wamp64/.htpasswd
    Require valid-user
</FilesMatch>

# If module are just if statements that checks if module exists to stop throwing errors
# Cache control headers
<IfModule mod_headers.c>
    <FilesMatch "index">
        Header set Cache-Control "no-cache, no-store, must revalidate, private" 
    </Filesmatch>
    # Ranges
    Header set Accept-Ranges bytes
</IfModule>

# for Etag
FileETag MTime Size

# Compression module
<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    # Regex for anything that is already zip / compressed so dont zip it ok i removed png even though it should be here since its already compressed for demo purposes
    SetEnvIfNoCase Request_URI \
        \.(?:gif|jpe?g|pdf|exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
</IfModule>

# Content negotiation shiz
Options +MultiViews

